*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    color: #ededed;
    background: #8a1847;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #040428;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    /* opacity: 0;
    animation: slideRight is ease forwards; */
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    /* opacity: 0;
    animation: slideTop .5s ease forwards; */
}
.navbar a:hover{
    color: #0ef;
}
.home {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: #df4040;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 70px 10% 0;
}
.home-img{
    margin-left: auto;
}
.home-img img{
    width: 350px;
    border-radius: 50%;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color: rgb(0, 238, 255);
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}
.home-scl a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-scl a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 16px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 3px cyan,
    0 0 10px cyan, 0 0 10px cyan,
    0 0 20px cyan, 0 0 20px cyan

}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background: #b31f5c;
}
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 16px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
#services{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #9c3b15;
    padding: 40px;
    font-size: 12px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transfrm 0.5s;
    box-shadow: 1px 1px 20px #dcdde0f7,
                1px 1px 20px #012f67f7
}
.services-list div i {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-img{
    width: 60px;
    margin-bottom: 12px;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #040428;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;;
}
.read:hover{
    background: #0ef;
    color: #040428;
    box-shadow: 0 0 20px #0ef;
}
.services-list div:hover{
    transform: translateY(-10px);
}

section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width:600px;
    height: auto;
    padding: 75px 90px;
    margin-left: 200px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px ;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
    background: re;
}
.Technical-bars .bar{
    margin: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info {
font-size: 17px;
font-weight: 500;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border: 10px;
    width: 100%;
    height: 5px;
    background-color: #ededed;
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;

}
.progress-line.html span{
    width: 90%
}
.progress-line.css span{
    width: 60%;
}
.progress-line.javascript span{
    width: 75%;
}
.progress-line.java span{
    width: 50%;
}
.progress-line.python span{
    width: 50%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "60%";
}
.progress-line.javascript span::after{
    content: "75%";
}
.progress-line.java span::after{
    content: "50%";
}
.progress-line.python span::after{
    content: "50%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}
.radial-bars{
    width: 10%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}



.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding-left: 30px;
    margin-top: 130px;
    background: rgb(4, 128, 101);
}
.contact-img img{
    width: 350px;
    border-radius: 20px;
}
.contact-text h2{
    margin-top: 50px;
    font-size: 90px;
    line-height: 1;
    text-align: center;

}
.contact-text h2 span{
    color: #0ef;
}

.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    /* transition: all .40s ease; */
}
.contact-list li a:hover{
    /* transform: scale(1.01) translateY(-5px); */
    color: #0ef;
}
.contact-icon i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.contact-icon i:hover{
    background-color: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form {
    margin-top: 240px;
    position: relative;
}
.contact-form form input, textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #dbcf1b;
    color: #050000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #040428;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 5px #0ef,
    0 0 25px, #0ef;

}
.contact-form form .send:hover{
    background: #0ef;
    color: #040428;
    box-shadow: 0 0 20px #0ef;
    
}
.hidden {
    display: none;
}

#moreContent {
    margin-top: 15px;
    color: #fff;
}